# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.DotSettings
*.user
*.opendb
*.VC.db
*.VC.VC.opendb
*.VC.VC.db
*.db
*.ide
*.sdf
*.opensdf
*.log
*.tmp
*.backup
*.DS_Store
*.pidlock
*.pdb
*.obj
Thumbs.db
*.exe
*.dll
*.ilk
*.lib
*.exp
*.app
*.so
*.dylib
*.a
*.bmp
*.psd
*.tga
*.fbx
*.FBX
*.mb
*.ma
*.blend
*.obj
*.max
*.3ds
*.uasset
*.umap
*.ubulk
*.uexp
*.ini